services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama

  ragbot:
    build: .
    container_name: pathway-ragbot
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - ollama

volumes:
  ollama:
